#website_boxed {
    margin: auto;
    overflow: hidden;
    width: 100vw;
    max-width: 100%;
}
#hgr_top_navbar_container {
    position: fixed;
}
.noPaddingTopBottom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#hgr_top_navbar_container .container {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
img.responsiveLogo {
    max-width: 100%;
    max-height: 100%;
    vertical-align: unset !important;
}
.hgr_identity a {
    max-width: 100%;
    max-height: 100%;
}
a.underline.after.first:after {
    border-bottom: 2px solid #1974d2;
}
.loader {
    font-size: 5px;
    margin: auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #1974d2;
    background: -moz-linear-gradient(left, #1974d2 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #1974d2 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #1974d2 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #1974d2 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #1974d2 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #1974d2;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content:"";
}
a.link-curtain::before {
    border-top: 2px solid rgba(25, 116, 210, 0.3);
}
a.link-curtain::after {
    background: rgba(25, 116, 210, 0.1);
}
#hgr_top_navbar_container .dropdown-menu li a:hover {
    background-color: rgba(25, 116, 210, 0.1);
}
#fixed_navbar .dropdown-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
#hgr_top_navbar_container .dropdown-menu {
    border-top: 2px solid #1974d2 !important;
}
#fixed_navbar .dropdown-menu {
    border-top: 2px solid #fff !important;
}
.page-template-page-leftsidebar .vc_col-sm-3 ul li,
.page-template-page-rightsidebar .vc_col-sm-3 ul li,
.page-template-page-leftsidebar .vc_col-sm-3 ul.children li,
.page-template-page-rightsidebar .vc_col-sm-3 ul.children li,
.shop_widget ul li {
    border-left: solid 6px rgba(25, 116, 210, 0.3);
}
.page-template-page-leftsidebar .vc_col-sm-3 ul li:hover,
.page-template-page-rightsidebar .vc_col-sm-3 ul li:hover,
.shop_widget ul li:hover {
    border-left: solid 6px #1974d2;
    background-color: rgba(25, 116, 210, 0.05);
}
.page-template-page-leftsidebar #wp-calendar caption,
.page-template-page-rightsidebar #wp-calendar caption {
    color: #1974d2;
}
.page-template-page-leftsidebar #wp-calendar thead,
.page-template-page-rightsidebar #wp-calendar thead {
    background: rgba(25, 116, 210, 0.05);
}
.page-template-page-leftsidebar #wp-calendar tbody td:hover,
.page-template-page-rightsidebar #wp-calendar tbody td:hover {
    background: rgba(25, 116, 210, 0.08);
}
.price_slider_wrapper .ui-slider-horizontal {
    background-color: rgba(25, 116, 210, 0.2);
}
.price_slider_wrapper .ui-slider .ui-slider-range,
.price_slider_wrapper .ui-slider .ui-slider-handle {
    background: #1974d2;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    background-color: #1974d2 !important;
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    background-color: rgba(25, 116, 210, 0.5) !important;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    width: 31.05% !important;
}
.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea,
.wpcf7 input[type=submit] {
    border-radius: 50px;
}
.qcv_button_cart {
    background-color: #d8d8d8;
}
.qcv_button_cart:hover {
    background-color: #c4c4c4;
}
.qcv_button_checkout {
    background-color: #ffc31d;
}
.qcv_button_checkout:hover {
    background-color: #e5af19;
}
#comments-form input[type=submit],
#commentform input[type=submit] {
    background-color: #2a2a2a;
}
#comments-form input[type=submit]:hover,
#commentform input[type=submit]:hover {
    background-color: #1974d2;
}
.back-to-top {
    width: 45px;
    height: 45px;
    line-height: 45px;
}
@media (max-width: 479px) {
    .fixed_menu,
    .main_navbar_container {
        display: none;
    }
    .container,
    #container {
        max-width: 300px;
    }
    .container:before,
    .container:after,
    #container:before,
    #container:after {
        content: "";
        display: table;
    }
    .container:after,
    #container:after {
        clear: both;
    }
    .megamenu {
        width: 300px;
    }
    .standAlonePage .page_title_container .container {
        margin-top: 60px;
    }
    #main_navbar_container,
    #main_navbar_container_left,
    .hgr_woo_minicart {
        display: none;
    }
    .central_logo .hgr_identity {
        float: left;
        margin: 0;
        text-align: left;
    }
    #website_boxed:before,
    #website_boxed:after {
        content:"";
        display: table;
    }
    #website_boxed:after {
        clear: both;
    }
    #website_boxed {
        width: 100vw;
        max-width: 100%;
    }
    #qcv_handle {
        position: absolute;
        top: 22px;
        right: 70px;
    }
    #fssearch_container #searchform input[type=text] {
        font-size: 50px !important;
        height: 100px !important;
    }
    #hgr_mc_name,
    #hgr_mc_lastname,
    #hgr_mc_email,
    .hgr_mc_btn {
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    .woocommerce .product span.onsale {
        top: 10px !important;
        right: 10px !important;
        left: auto !important;
    }
    .hgr_main_image {
        float: none;
        width: 300px;
        margin-bottom: 20px;
    }
    .hgr_product_thumbnails {
        width: 300px;
        max-height: 240px;
        float: none;
        overflow: hidden;
    }
    .hgr_product_thumbnails a {
        margin-right: 10px;
    }
    .hgr_product_thumbnails a:last-child {
        margin-right: 0;
    }
    .hgr_product_thumbnails img {
        max-width: 90px !important;
        height: auto;
    }
    .woocommerce-page div.product div.summary {
        width: 300px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .woocommerce-page div.product div.summary p {
        text-align: justify;
    }
    .woocommerce-page div.product .product_title {
        text-align: center;
    }
    .woocommerce div.product .woocommerce-product-rating {
        float: right;
    }
    .woocommerce div.product form.cart .button {
        margin-top: 0 !important;
    }
    .woocommerce div.product .product_meta .posted_in {
        padding: 0 !important;
    }
    #tab-description {
        text-align: justify;
    }
    .woocommerce #respond input#submit {
        width: 100%;
    }
    .woocommerce p.stars {
        font-size: 0.9em;
    }
    .woocommerce p.stars span {
        display: block;
        text-align: center;
    }
    .woocommerce .related ul.products li.product,
    .woocommerce .related ul li.product {
        width: 48% !important;
    }
    .woocommerce .related ul.products li.product a,
    .woocommerce-page .related ul.products li.product a {
        left: 35%;
        bottom: 125px;
    }
    .woocommerce a.button,
    .woocommerce-page a.button {
        margin-top: 0px !important;
        left: 10px !important;
        top: 10px !important;
    }
}
@media (min-width: 480px) and (max-width: 639px) {
    .fixed_menu,
    .main_navbar_container {
        display: none;
    }
    .container,
    #container {
        max-width: 440px;
    }
    .container:before,
    .container:after,
    #container:before,
    #container:after {
        content: "";
        display: table;
    }
    .container:after,
    #container:after {
        clear: both;
    }
    .megamenu {
        width: 440px;
    }
    #website_boxed:before,
    #website_boxed:after {
        content: "";
        display: table;
    }
    #website_boxed:after {
        clear: both;
    }
    #main_navbar_container,
    #main_navbar_container_left,
    .hgr_woo_minicart {
        display: none;
    }
    .central_logo .hgr_identity {
        float: left;
        margin: 0;
        text-align: left;
    }
    #website_boxed {
        width: 100vw;
        max-width: 100%;
    }
    #qcv_handle {
        position: absolute;
        top: 22px;
        right: 70px;
    }
    #fssearch_container #searchform input[type=text] {
        font-size: 50px !important;
        height: 100px !important;
    }
    #hgr_mc_name,
    #hgr_mc_lastname,
    #hgr_mc_email,
    .hgr_mc_btn {
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    .woocommerce .product span.onsale {
        top: 10px !important;
        right: 10px !important;
        left: auto !important;
    }
    .hgr_main_image {
        float: right;
        width: 360px;
        margin-bottom: 20px;
    }
    .hgr_product_thumbnails {
        width: 70px;
        max-height: 240px;
        float: left;
        overflow: hidden;
    }
    .hgr_product_thumbnails a {
        margin-right: 10px;
    }
    .hgr_product_thumbnails a:last-child {
        margin-right: 0;
    }
    .hgr_product_thumbnails img {
        max-width: 70px !important;
        height: auto;
    }
    .woocommerce-page div.product div.summary {
        width: 440px !important;
        height: auto;
        float: left !important;
    }
    .woocommerce-page div.product div.summary p {
        text-align: justify;
    }
    .woocommerce-page div.product .product_title {
        text-align: center;
    }
    .woocommerce div.product .woocommerce-product-rating {
        float: right;
    }
    .woocommerce div.product form.cart .button {
        margin-top: 0 !important;
    }
    .woocommerce div.product .product_meta .posted_in {
        padding: 0 !important;
    }
    #tab-description {
        text-align: justify;
    }
    .woocommerce #respond input#submit {
        width: 100%;
    }
    .woocommerce p.stars {
        font-size: 0.9em;
    }
    .woocommerce p.stars span {
        display: block;
        text-align: center;
    }
    .woocommerce .related ul.products li.product,
    .woocommerce .related ul li.product,
    .woocommerce .related li.product:nth-child(2n) {
        width: 32% !important;
        clear: none !important;
        margin-left: 2px;
        margin-right: 2px;
        text-align: center;
        float: left !important;
    }
    .woocommerce .related ul.products li.product a,
    .woocommerce-page .related ul.products li.product a {
        left: 37%;
        top: -12px;
    }
    .woocommerce a.button,
    .woocommerce-page a.button {
        margin-top: 0px !important;
        left: 10px !important;
        top: 10px !important;
    }
}
@media (min-width: 640px) and (max-width: 767px) {
    .fixed_menu,
    .main_navbar_container {
        display: none;
    }
    .container,
    #container {
        max-width: 600px;
    }
    .container:before,
    .container:after,
    #container:before,
    #container:after {
        content: "";
        display: table;
    }
    .container:after,
    #container:after {
        clear: both;
    }
    .megamenu {
        width: 600px;
    }
    #website_boxed:before,
    #website_boxed:after {
        content: "";
        display: table;
    }
    #website_boxed:after {
        clear: both;
    }
    #main_navbar_container,
    #main_navbar_container_left,
    .hgr_woo_minicart,
    .fixed_menu {
        display: none;
    }
    .central_logo .hgr_identity {
        float: left;
        margin: 0;
        text-align: left;
    }
    #website_boxed {
        width: 100vw;
        max-width: 100%;
    }
    .initialHeaderSize {
        height: 150px;
    }
    .finalHeaderSize {
        height: 100px !important;
    }
    #fssearch_container #searchform input[type=text] {
        font-size: 50px !important;
        height: 100px !important;
    }
    .woocommerce .product span.onsale {
        top: 10px !important;
        right: 10px !important;
        left: auto !important;
    }
    .hgr_main_image {
        float: right;
        width: 470px;
        margin-bottom: 20px;
    }
    .hgr_product_thumbnails {
        width: 120px;
        max-height: 460px;
        float: left;
        overflow: hidden;
    }
    .hgr_product_thumbnails a {
        margin-right: 10px;
    }
    .hgr_product_thumbnails a:last-child {
        margin-right: 0;
    }
    .hgr_product_thumbnails img {
        max-width: 120px !important;
        height: auto;
    }
    .woocommerce-page div.product div.summary {
        width: 600px !important;
        height: auto;
        float: left !important;
    }
    .woocommerce-page div.product div.summary p {
        text-align: justify;
    }
    .woocommerce-page div.product .product_title {
        text-align: left;
    }
    .woocommerce div.product .woocommerce-product-rating {
        float: right;
    }
    div.quantity_select {
        width: 70px !important;
        background-position: 50px !important;
    }
    .woocommerce select.qty {
        width: 280px !important;
    }
    .woocommerce form.cart select.qty {
        width: 85px !important;
    }
    .woocommerce div.product form.cart .button {
        margin-top: 0 !important;
        width: 50% !important;
    }
    .woocommerce div.product .product_meta .posted_in {
        padding: 0 !important;
    }
    #tab-description {
        text-align: justify;
    }
    .woocommerce #respond input#submit {
        width: 100%;
    }
    .woocommerce p.stars {
        font-size: 0.9em;
    }
    .woocommerce p.stars span {
        display: block;
        text-align: center;
    }
    .woocommerce .related ul.products li.product,
    .woocommerce .related ul li.product {
        width: 32% !important;
        clear: none !important;
        margin-left: 2px;
        margin-right: 2px;
        text-align: center;
        float: left !important;
    }
    .woocommerce .related ul.products li.product a,
    .woocommerce-page .related ul.products li.product a {
        left: 37%;
        top: -12px;
    }
    .woocommerce a.button,
    .woocommerce-page a.button {
        margin-top: 0px !important;
        left: 10px !important;
        top: 10px !important;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .standAlonePage .page_title_container .container {
        margin-top: 60px;
    }
    .container,
    #container {
        max-width: 720px;
    }
    .megamenu {
        width: 720px;
    }
    ul.primary_menu {
        margin-top: 0;
    }
    #main_navbar_container,
    #main_navbar_container_left,
    .hgr_woo_minicart,
    .fixed_menu {
        display: none;
    }
    .central_logo .hgr_identity {
        float: left;
        margin: 0;
        text-align: left;
    }
    #website_boxed {
        width: 100vw;
        max-width: 100%;
    }
    .initialHeaderSize {
        height: 150px;
    }
    .finalHeaderSize {
        height: 100px !important;
    }
    .woocommerce .product span.onsale {
        top: 10px !important;
        right: 10px !important;
        left: auto !important;
    }
    .hgr_main_image {
        float: right;
        width: 500px;
        margin-bottom: 20px;
    }
    .hgr_product_thumbnails {
        width: 200px;
        max-height: 500px;
        float: left;
        overflow: hidden;
    }
    .hgr_product_thumbnails a {
        margin-right: 10px;
    }
    .hgr_product_thumbnails a:last-child {
        margin-right: 0;
    }
    .hgr_product_thumbnails img {
        max-width: 200px !important;
        height: auto;
    }
    .woocommerce-page div.product div.summary {
        width: 700px !important;
        height: auto;
        float: left !important;
    }
    .woocommerce-page div.product div.summary p {
        text-align: justify;
    }
    .woocommerce-page div.product .product_title {
        text-align: left;
    }
    .woocommerce div.product .woocommerce-product-rating {
        float: right;
    }
    div.quantity_select {
        width: 70px !important;
        background-position: 50px !important;
    }
    .woocommerce select.qty {
        width: 280px !important;
    }
    .woocommerce form.cart select.qty {
        width: 85px !important;
    }
    .woocommerce div.product form.cart .button {
        margin-top: 0 !important;
        width: 50% !important;
    }
    .woocommerce div.product .product_meta .posted_in {
        padding: 0 !important;
    }
    #tab-description {
        text-align: justify;
    }
    .woocommerce #respond input#submit {
        width: 100%;
    }
    .woocommerce p.stars {
        font-size: 0.9em;
    }
    .woocommerce p.stars span {
        display: block;
        text-align: center;
    }
    .woocommerce .related ul.products li.product,
    .woocommerce .related ul li.product {
        width: 32% !important;
        clear: none !important;
        margin-left: 2px;
        margin-right: 2px;
        text-align: center;
        float: left !important;
    }
    .woocommerce .related ul.products li.product a,
    .woocommerce-page .related ul.products li.product a {
        left: 37%;
        top: -12px;
    }
    .woocommerce a.button,
    .woocommerce-page a.button {
        margin-top: 0px !important;
        left: 10px !important;
        top: 10px !important;
    }
}
@media (min-width: 980px) and (max-width: 1279px) {
    .container,
    #container {
        max-width: 920px;
    }
    .megamenu {
        width: 920px;
    }
    ul.primary_menu {
        line-height: 0;
    }
    ul.sub-menu {
        line-height: 24px;
        top: -1;
    }
    #main_navbar_container,
    #main_navbar_container_left,
    .hgr_woo_minicart,
    .fixed_menu {
        display: none;
    }
    .central_logo .hgr_identity {
        float: left;
        margin: 0;
        text-align: left;
    }
    #website_boxed {
        width: 100vw;
        max-width: 100%;
    }
    .initialHeaderSize {
        height: 150px;
    }
    .finalHeaderSize {
        height: 100px !important;
    }
    .woocommerce .product span.onsale {
        top: 10px !important;
        right: 10px !important;
        left: auto !important;
    }
    .hgr_main_image {
        float: right;
        width: 700px;
        margin-bottom: 20px;
    }
    .hgr_product_thumbnails {
        width: 200px;
        float: left;
        overflow: hidden;
    }
    .hgr_product_thumbnails a {
        margin-right: 10px;
    }
    .hgr_product_thumbnails a:last-child {
        margin-right: 0;
    }
    .hgr_product_thumbnails img {
        max-width: 200px !important;
        height: auto;
    }
    .woocommerce-page div.product div.summary {
        width: 920px !important;
        height: auto;
        float: left !important;
    }
    .woocommerce-page div.product div.summary p {
        text-align: justify;
    }
    .woocommerce-page div.product .product_title {
        text-align: left;
    }
    .woocommerce div.product .woocommerce-product-rating {
        float: right;
    }
    div.quantity_select {
        width: 70px !important;
        background-position: 50px !important;
    }
    .woocommerce select.qty {
        width: 280px !important;
    }
    .woocommerce form.cart select.qty {
        width: 70px !important;
    }
    .woocommerce div.product form.cart .button {
        margin-top: 0 !important;
        width: 150px !important;
        float: none;
    }
    .woocommerce div.product .product_meta .posted_in {
        padding: 0 !important;
    }
    #tab-description {
        text-align: justify;
    }
    .woocommerce #respond input#submit {
        width: 50%;
        float: right;
    }
    .woocommerce p.stars {
        font-size: 0.9em;
    }
    .woocommerce p.stars span {
        display: block;
    }
    .woocommerce .related ul.products li.product,
    .woocommerce .related ul li.product {
        width: 24% !important;
        clear: none !important;
        margin-left: 2px;
        margin-right: 2px;
        text-align: center;
        float: left !important;
    }
    .woocommerce .related ul.products li.product a,
    .woocommerce-page .related ul.products li.product a {
        left: 39%;
        bottom: 125px;
    }
    .woocommerce a.button,
    .woocommerce-page a.button {
        margin-top: 0px !important;
        left: 10px !important;
        top: 10px !important;
    }
}
@media (min-width: 1280px) {
    .container,
    #container {
        max-width: 1200px;
    }
    .cd-primary-nav-trigger,
    #mainNavUl {
        display: none;
    }
    .megamenu {
        width: 1200px;
    }
    ul.primary_menu {
        line-height: 0;
    }
    ul.sub-menu {
        line-height: 24px;
        top: -1;
    }
    #website_boxed {
        width: 100vw;
        max-width: 100%;
    }
    .initialHeaderSize {
        height: 150px;
    }
    .finalHeaderSize {
        height: 100px !important;
    }
    .isDesktop.notMobile #hgr_top_navbar_container.headerappear {
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: transform .33s ease-in-out;
        -moz-transition: transform .33s ease-in-out;
        transition: transform .33s ease-in-out;
    }
    .isDesktop.notMobile #hgr_top_navbar_container.headerhidden {
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: transform .33s ease-in-out;
        -moz-transition: transform .33s ease-in-out;
        transition: transform .33s ease-in-out;
    }
    .hgr_product_images {
        width: 960px;
        height: 800px;
        float: left;
    }
    .hgr_product_summary {
        width: 700px;
        height: 800px;
        float: right;
    }
    .hgr_main_image {
        float: left;
        width: 600px;
    }
    .hgr_main_image.has_thumbnails {
        width: 480px;
    }
    .hgr_product_thumbnails {
        width: 100px;
        margin-right: 20px;
        max-height: 800px;
        float: left;
        overflow: hidden;
    }
    .woocommerce .product span.onsale {
        top: 10px !important;
        right: 10px !important;
        left: auto !important;
    }
    div.quantity_select {
        width: 70px !important;
        background-position: 50px !important;
    }
    .woocommerce select.qty {
        width: 280px !important;
    }
    .woocommerce form.cart select.qty {
        width: 85px !important;
    }
    .woocommerce div.product form.cart .button {
        margin-top: 0 !important;
        width: 150px !important;
        float: none;
    }
    .woocommerce .related ul.products li.product,
    .woocommerce .related ul li.product {
        width: 24% !important;
        clear: none !important;
        margin-left: 2px;
        margin-right: 2px;
        text-align: center;
        float: left !important;
    }
    .woocommerce .related ul.products li.product a,
    .woocommerce-page .related ul.products li.product a {
        left: 39%;
        bottom: 125px;
    }
    .woocommerce a.button,
    .woocommerce-page a.button {
        margin-top: 0px !important;
        left: 10px !important;
        top: 10px !important;
    }
}
.vc_custom_1476793291159 {
    padding-top: 150px !important;
    background-color: #f2f2f2 !important;
}
.vc_custom_1476799015068 {
    padding-top: 150px !important;
}
.vc_custom_1476793301065 {
    padding-bottom: 150px !important;
}
.vc_custom_1476799021379 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
    background-color: #f6f6f6 !important;
}
.vc_custom_1476799031907 {
    padding-top: 150px !important;
    padding-bottom: 50px !important;
    background-color: #f6f6f6 !important;
}
.vc_custom_1476795491502 {
    padding-bottom: 150px !important;
    background-color: #f6f6f6 !important;
}
.vc_custom_1476795838102 {
    padding-top: 50px !important;
    background-color: #ebebed !important;
}
.vc_custom_1479818879384 {
    margin-top: -30px !important;
    padding-bottom: 50px !important;
    background-color: #ebebed !important;
}
.vc_custom_1476797116046 {
    padding-top: 150px !important;
    background-color: #222328 !important;
}
.vc_custom_1476796759433 {
    padding-bottom: 150px !important;
    background-color: #222328 !important;
}
.vc_custom_1476797573715 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.vc_custom_1476787670273 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.vc_custom_1476798708193 {
    padding-top: 10px !important;
}
.vc_custom_1479818618178 {
    border-bottom-width: 1px !important;
    padding-top: 55px !important;
    padding-right: 55px !important;
    padding-bottom: 15px !important;
    padding-left: 55px !important;
    border-bottom-color: #e8e9ea !important;
    border-bottom-style: solid !important;
}
.vc_custom_1479818626013 {
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 55px !important;
    padding-right: 55px !important;
    padding-bottom: 15px !important;
    padding-left: 55px !important;
    border-left-color: #e8e9ea !important;
    border-left-style: solid !important;
    border-right-color: #e8e9ea !important;
    border-right-style: solid !important;
    border-bottom-color: #e8e9ea !important;
    border-bottom-style: solid !important;
}
.vc_custom_1479818629956 {
    border-bottom-width: 1px !important;
    padding-top: 55px !important;
    padding-right: 55px !important;
    padding-bottom: 15px !important;
    padding-left: 55px !important;
    border-bottom-color: #e8e9ea !important;
    border-bottom-style: solid !important;
}
.vc_custom_1476790523621 {
    padding-top: 30px !important;
}
.vc_custom_1476790530257 {
    margin-top: -25px !important;
}
.vc_custom_1476790534925 {
    padding-top: 30px !important;
}
.vc_custom_1476790538514 {
    margin-top: -25px !important;
}
.vc_custom_1476790543555 {
    padding-top: 30px !important;
}
.vc_custom_1476790547685 {
    margin-top: -25px !important;
}
.vc_custom_1479818649542 {
    padding-top: 55px !important;
    padding-right: 55px !important;
    padding-bottom: 15px !important;
    padding-left: 55px !important;
}
.vc_custom_1479818653355 {
    border-right-width: 1px !important;
    border-left-width: 1px !important;
    padding-top: 55px !important;
    padding-right: 55px !important;
    padding-bottom: 15px !important;
    padding-left: 55px !important;
    border-left-color: #e8e9ea !important;
    border-left-style: solid !important;
    border-right-color: #e8e9ea !important;
    border-right-style: solid !important;
}
.vc_custom_1479818657564 {
    padding-top: 55px !important;
    padding-right: 55px !important;
    padding-bottom: 15px !important;
    padding-left: 55px !important;
}
.vc_custom_1476790637178 {
    padding-top: 30px !important;
}
.vc_custom_1476790556211 {
    margin-top: -25px !important;
}
.vc_custom_1476790692797 {
    padding-top: 30px !important;
}
.vc_custom_1476790563279 {
    margin-top: -25px !important;
}
.vc_custom_1476790723592 {
    padding-top: 30px !important;
}
.vc_custom_1476790572355 {
    margin-top: -25px !important;
}
.vc_custom_1479818675566 {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}
.vc_custom_1476799210002 {
    margin-top: -20px !important;
    padding-bottom: 35px !important;
}
.vc_custom_1476792919321 {
    background-color: #ebebed !important;
    border-radius: 10px !important;
}
.vc_custom_1476793105823 {
    margin-top: -20px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    background-color: #ffffff !important;
    border-radius: 10px !important;
}
.vc_custom_1476793170388 {
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}
.vc_custom_1476792972099 {
    padding-top: 55px !important;
}
.vc_custom_1476791986034 {
    margin-top: -15px !important;
}
.vc_custom_1476791929070 {
    margin-top: -20px !important;
}
.vc_custom_1476793002099 {
    padding-top: 40px !important;
    padding-bottom: 35px !important;
}
.vc_custom_1476798776290 {
    padding-top: 35px !important;
}
.vc_custom_1476798913178 {
    margin-top: -15px !important;
}
.vc_custom_1476798821724 {
    margin-top: -20px !important;
}
.vc_custom_1476793007702 {
    padding-top: 40px !important;
    padding-bottom: 35px !important;
}
.vc_custom_1476793738197 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
    background-image: url(http://highgradelab.com/navy/landing-page/wp-content/uploads/sites/14/2016/10/features-1.jpg?id=88) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1479818689244 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
}
.vc_custom_1479818855904 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
}
.vc_custom_1476794154265 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
    background-image: url(http://highgradelab.com/navy/landing-page/wp-content/uploads/sites/14/2016/10/features-2.jpg?id=89) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1476794160655 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
    background-image: url(http://highgradelab.com/navy/landing-page/wp-content/uploads/sites/14/2016/10/features-3.jpg?id=90) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1479818699247 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
}
.vc_custom_1476795133235 {
    border-top-width: 2px !important;
    border-right-width: 2px !important;
    border-bottom-width: 2px !important;
    border-left-width: 2px !important;
    padding-right: 25px !important;
    padding-left: 25px !important;
    border-left-color: #e8e9ea !important;
    border-left-style: solid !important;
    border-right-color: #e8e9ea !important;
    border-right-style: solid !important;
    border-top-color: #e8e9ea !important;
    border-top-style: solid !important;
    border-bottom-color: #e8e9ea !important;
    border-bottom-style: solid !important;
    border-radius: 10px !important;
}
.vc_custom_1476795157638 {
    margin-top: -10px !important;
}
.vc_custom_1476795133235 {
    border-top-width: 2px !important;
    border-right-width: 2px !important;
    border-bottom-width: 2px !important;
    border-left-width: 2px !important;
    padding-right: 25px !important;
    padding-left: 25px !important;
    border-left-color: #e8e9ea !important;
    border-left-style: solid !important;
    border-right-color: #e8e9ea !important;
    border-right-style: solid !important;
    border-top-color: #e8e9ea !important;
    border-top-style: solid !important;
    border-bottom-color: #e8e9ea !important;
    border-bottom-style: solid !important;
    border-radius: 10px !important;
}
.vc_custom_1476795279039 {
    margin-top: -10px !important;
}
.vc_custom_1476795463323 {
    border-top-width: 2px !important;
    border-right-width: 2px !important;
    border-bottom-width: 2px !important;
    border-left-width: 2px !important;
    padding-right: 25px !important;
    padding-left: 25px !important;
    border-left-color: #e8e9ea !important;
    border-left-style: solid !important;
    border-right-color: #e8e9ea !important;
    border-right-style: solid !important;
    border-top-color: #e8e9ea !important;
    border-top-style: solid !important;
    border-bottom-color: #e8e9ea !important;
    border-bottom-style: solid !important;
    border-radius: 10px !important;
}
.vc_custom_1476795620791 {
    margin-top: -10px !important;
}
.vc_custom_1479818826791 {
    margin-top: -10px !important;
}
.vc_custom_1476798652367 {
    padding-bottom: 20px !important;
}
.vc_custom_1476798454233 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: #222328 !important;
}
.vc_custom_1476798410499 {
    margin-top: -20px !important;
}
.vc_custom_1476798415764 {
    margin-top: -15px !important;
}
.vc_custom_1476797957062 {
    padding-top: 20px !important;
}
.vc_custom_1476798033584 {
    margin-top: -10px !important;
}
.vc_custom_1476798060346 {
    margin-top: -20px !important;
}
.vc_custom_1476798070212 {
    margin-top: -20px !important;
}
.vc_custom_1476798082318 {
    margin-top: -20px !important;
}
.vc_custom_1476798200799 {
    padding-top: 20px !important;
}
.vc_custom_1476798209021 {
    margin-top: -10px !important;
}
.vc_custom_1476798219261 {
    margin-top: -20px !important;
}
.vc_custom_1476798232039 {
    margin-top: -20px !important;
}
.vc_custom_1476798254989 {
    padding-top: 20px !important;
}
.vc_custom_1476798260514 {
    margin-top: -10px !important;
}
.vc_custom_1476798270469 {
    margin-top: -20px !important;
}
.vc_custom_1476798281977 {
    margin-top: -20px !important;
}
.vc_custom_1476798289313 {
    margin-top: -20px !important;
}
.wpb_btn-success,
#itemcontainer-controller {
    background-color: #1974d2 !important;
}
.hoveredIcon {
    color: #1974d2 !important;
}
.topborder h3 a {
    border-top: 1px solid #1974d2;
}
ul.nav a.active {
    color: #1974d2 !important;
}
.testimonial_text {
    margin-bottom: 60px;
}

.back-to-top {
    background: rgba(25, 116, 210, 0.1);
}
.container_xs {
    width: 300px;
}
.container_s {
    width: 440px;
}
.container_m {
    width: 600px;
}
.container_l {
    width: 720px;
}
.container_xl {
    width: 920px;
}
.container_xxl {
    width: 1200px;
}
body {
    color: #666666;
}
.theme_dominant_color {
    color: #1974d2;
}
.dark_scheme,
.dark_scheme.hgr_megafooter {
    color: #666666;
}
.dark_scheme h1,
.dark_scheme.hgr_megafooter h1 {
    color: #ffffff;
}
.dark_scheme h2,
.dark_scheme.hgr_megafooter h2 {
    color: #ffffff;
}
.dark_scheme h3,
.dark_scheme.hgr_megafooter h3 {
    color: #e0e0e0;
}
.dark_scheme h4,
.dark_scheme.hgr_megafooter h4 {
    color: #ffffff;
}
.dark_scheme h5,
.dark_scheme.hgr_megafooter h5 {
    color: #ffffff;
}
.dark_scheme h6,
.dark_scheme.hgr_megafooter h6 {
    color: #ffffff;
}
.dark_scheme a,
.dark_scheme.hgr_megafooter a {
    color: #666666;
}
.dark_scheme a:hover,
.dark_scheme.hgr_megafooter a:hover {
    color: #1974d2;
}
.light_scheme {
    color: #7c7c7c;
}
.light_scheme h1 {
    color: #2a2a2a;
}
.light_scheme h2 {
    color: #2a2a2a;
}
.light_scheme h3 {
    color: #adadad;
}
.light_scheme h4 {
    color: #2a2a2a;
}
.light_scheme h5 {
    color: #1974d2;
}
.light_scheme h6 {
    color: #848484;
}
.light_scheme a {
    color: #2a2a2a;
}
.light_scheme a:hover {
    color: #1974d2;
}
body,
.megamenu {
    font-family: "Open Sans";
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading body,
.megamenu,
{
    opacity: 0;
}
.ie.wf-loading body,
.megamenu,
{
    visibility: hidden;
}
h1,
.megamenu h1 {
    font-family: "Open Sans";
    line-height: 56px;
    letter-spacing: -1px;
    font-weight: 300;
    font-style: normal;
    font-size: 48px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading h1,
.megamenu h1,
{
    opacity: 0;
}
.ie.wf-loading h1,
.megamenu h1,
{
    visibility: hidden;
}
h2,
.megamenu h2 {
    font-family: "Open Sans";
    line-height: 40px;
    letter-spacing: -1px;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading h2,
.megamenu h2,
{
    opacity: 0;
}
.ie.wf-loading h2,
.megamenu h2,
{
    visibility: hidden;
}
h3,
.megamenu h3 {
    font-family: "Open Sans";
    line-height: 110px;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading h3,
.megamenu h3,
{
    opacity: 0;
}
.ie.wf-loading h3,
.megamenu h3,
{
    visibility: hidden;
}
h4,
.megamenu h4 {
    font-family: Montserrat;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading h4,
.megamenu h4,
{
    opacity: 0;
}
.ie.wf-loading h4,
.megamenu h4,
{
    visibility: hidden;
}
h5,
.megamenu h5 {
    font-family: "Open Sans";
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading h5,
.megamenu h5,
{
    opacity: 0;
}
.ie.wf-loading h5,
.megamenu h5,
{
    visibility: hidden;
}
h6,
.megamenu h6 {
    font-family: "Open Sans";
    line-height: 21px;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading h6,
.megamenu h6,
{
    opacity: 0;
}
.ie.wf-loading h6,
.megamenu h6,
{
    visibility: hidden;
}
.page_title_container h1 {
    font-family: "Open Sans";
    text-align: center;
    line-height: 72px;
    letter-spacing: -2px;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
    font-size: 60px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading .page_title_container h1,
{
    opacity: 0;
}
.ie.wf-loading .page_title_container h1,
{
    visibility: hidden;
}
#hgr_top_navbar_container,
#hgr_top_navbar_container #main_navbar>li>a,
#hgr_top_navbar_container #main_navbar_left>li>a,
.dropdown-menu > li > a {
    font-family: "Open Sans";
    line-height: 60px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading #hgr_top_navbar_container,
#hgr_top_navbar_container #main_navbar>li>a,
#hgr_top_navbar_container #main_navbar_left>li>a,
.dropdown-menu > li > a,
{
    opacity: 0;
}
.ie.wf-loading #hgr_top_navbar_container,
#hgr_top_navbar_container #main_navbar>li>a,
#hgr_top_navbar_container #main_navbar_left>li>a,
.dropdown-menu > li > a,
{
    visibility: hidden;
}
#hgr_top_navbar_container #main_navbar>li>a,
#hgr_top_navbar_container #main_navbar_left>li>a,
.dropdown-menu>li>a,
a.mobileFsSearch,
a.cd-primary-nav-trigger,
a.hgr_minicart,
a.hgr_minicart .icon {
    color: #2a2a2a;
}
#hgr_top_navbar_container #main_navbar>li>a:hover,
#hgr_top_navbar_container #main_navbar_left>li>a:hover,
.dropdown-menu>li>a:hover,
a.mobileFsSearch:hover,
a.cd-primary-nav-trigger:hover,
a.hgr_minicart:hover,
a.hgr_minicart .icon:hover {
    color: #aabbcc;
}
.hgr_identity {
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 10px;
}
.main_navbar_container,
.left_menu_container {
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0;
}
#hgr_top_navbar_container,
#main_navbar .dropdown-menu,
#main_navbar_left .dropdown-menu,
#mainNavUlLeft .dropdown-menu,
#mainNavUlRight .dropdown-menu {
    background: #ffffff;
}
#hgr_top_navbar_container {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
#hgr_top_navbar_container {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 0;
}
#hgr_fixed_menu .fixed_menu_top_bar {
    font-family: Roboto;
    line-height: 36px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 12px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading #hgr_fixed_menu .fixed_menu_top_bar,
{
    opacity: 0;
}
.ie.wf-loading #hgr_fixed_menu .fixed_menu_top_bar,
{
    visibility: hidden;
}
#hgr_fixed_menu .fixed_menu_top_bar a {
    color: #ffc31d;
}
#hgr_fixed_menu .fixed_menu_top_bar a:hover {
    color: #ffffff;
}
#hgr_fixed_menu .fixed_menu_top_bar {
    background: #2a2a2a;
}
#hgr_fixed_menu .fixed_menu_middle_bar_left_side,
#hgr_fixed_menu .fixed_menu_middle_bar_middle_side,
#hgr_fixed_menu .fixed_menu_middle_bar_right_side {
    font-family: Roboto;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    color: #2a2a2a;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading #hgr_fixed_menu .fixed_menu_middle_bar_left_side,
#hgr_fixed_menu .fixed_menu_middle_bar_middle_side,
#hgr_fixed_menu .fixed_menu_middle_bar_right_side,
{
    opacity: 0;
}
.ie.wf-loading #hgr_fixed_menu .fixed_menu_middle_bar_left_side,
#hgr_fixed_menu .fixed_menu_middle_bar_middle_side,
#hgr_fixed_menu .fixed_menu_middle_bar_right_side,
{
    visibility: hidden;
}
#hgr_fixed_menu .fixed_menu_middle_bar_left_side a,
#hgr_fixed_menu .fixed_menu_middle_bar_middle_side a,
#hgr_fixed_menu .fixed_menu_middle_bar_right_side a {
    color: #000000;
}
#hgr_fixed_menu .fixed_menu_middle_bar_left_side a:hover,
#hgr_fixed_menu .fixed_menu_middle_bar_middle_side a:hover,
#hgr_fixed_menu .fixed_menu_middle_bar_right_side a:hover {
    color: #dd9933;
}
#hgr_fixed_menu .fixed_menu_middle_bar {
    background: #ffffff;
}
#hgr_fixed_menu .fixed_menu_middle_bar {
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;
}
#hgr_fixed_menu .fixed_menu_bottom_bar,
#hgr_fixed_menu .fixed_menu_bottom_bar .fixed_navbar_container .fixed_navbar>li>a,
#hgr_fixed_menu .fixed_menu_bottom_bar .dropdown-menu > li > a {
    font-family: Roboto;
    line-height: 60px;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading #hgr_fixed_menu .fixed_menu_bottom_bar,
#hgr_fixed_menu .fixed_menu_bottom_bar .fixed_navbar_container .fixed_navbar>li>a,
#hgr_fixed_menu .fixed_menu_bottom_bar .dropdown-menu > li > a,
{
    opacity: 0;
}
.ie.wf-loading #hgr_fixed_menu .fixed_menu_bottom_bar,
#hgr_fixed_menu .fixed_menu_bottom_bar .fixed_navbar_container .fixed_navbar>li>a,
#hgr_fixed_menu .fixed_menu_bottom_bar .dropdown-menu > li > a,
{
    visibility: hidden;
}
#hgr_fixed_menu .fixed_menu_bottom_bar .fixed_navbar_container .fixed_navbar>li>a,
#hgr_fixed_menu .fixed_menu_bottom_bar .dropdown-menu>li>a {
    color: #2a2a2a;
}
#hgr_fixed_menu .fixed_menu_bottom_bar .fixed_navbar_container .fixed_navbar>li>a:hover,
#hgr_fixed_menu .fixed_menu_bottom_bar .dropdown-menu>li>a:hover {
    color: #ffffff;
}
#hgr_fixed_menu .fixed_menu_bottom_bar,
#fixed_navbar .dropdown-menu {
    background: #ffc31d;
}
#hgr_fixed_menu .fixed_menu_bottom_bar {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.cd-primary-nav a,
#mainNavUl .dropdown-menu.multi-level li a {
    font-family: "Open Sans";
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading .cd-primary-nav a,
#mainNavUl .dropdown-menu.multi-level li a,
{
    opacity: 0;
}
.ie.wf-loading .cd-primary-nav a,
#mainNavUl .dropdown-menu.multi-level li a,
{
    visibility: hidden;
}
.cd-primary-nav a,
#mainNavUl .dropdown-menu.multi-level li a,
a.mobilemenuopen {
    color: #ffffff;
}
.cd-primary-nav a:hover,
#mainNavUl .dropdown-menu.multi-level li a:hover,
a.mobilemenuopen:hover {
    color: #1974d2;
}
.cd-primary-nav {
    background: rgba(0, 0, 0, 0.9);
}
.wpcf7 p {
    font-family: "Open Sans";
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
    color: #666666;
    font-size: 12px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading .wpcf7 p,
{
    opacity: 0;
}
.ie.wf-loading .wpcf7 p,
{
    visibility: hidden;
}
.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea {
    font-family: "Open Sans";
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
    color: #8b8b8b;
    font-size: 12px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading .wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea,
{
    opacity: 0;
}
.ie.wf-loading .wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea,
{
    visibility: hidden;
}
.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea,
.wpcf7 input[type=submit] {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
}
.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea {
    border-top: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    border-left: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
}
.wpcf7 input[type=submit] {
    height: 50px;
}
.wpcf7 input[type=submit] {
    background: #1974d2;
}
.wpcf7 input[type=submit]:hover {
    background: #3d86d1;
}
.wpcf7 input[type=submit] {
    color: #ffffff;
}
.wpcf7 input[type=submit]:hover {
    color: #ffffff;
}
.qcv_container {
    background: #f9f8f6;
}
.qcv_container {
    border-top: 2px solid #cecece;
    border-bottom: 2px solid #cecece;
    border-left: 2px solid #cecece;
    border-right: 2px solid #cecece;
}
body.blog,
body.single-post {
    font-family: "Open Sans";
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    color: #9b9b9b;
    font-size: 16px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading body.blog,
body.single-post,
{
    opacity: 0;
}
.ie.wf-loading body.blog,
body.single-post,
{
    visibility: hidden;
}
.blog h1,
body.single-post h1 {
    font-family: "Open Sans";
    line-height: 36px;
    font-weight: 300;
    font-style: normal;
    color: #2a2a2a;
    font-size: 30px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading .blog h1,
body.single-post h1,
{
    opacity: 0;
}
.ie.wf-loading .blog h1,
body.single-post h1,
{
    visibility: hidden;
}
.blog h2,
body.single-post h2 {
    font-family: "Open Sans";
    line-height: 36px;
    font-weight: normal;
    font-style: normal;
    color: #2a2a2a;
    font-size: 24px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading .blog h2,
body.single-post h2,
{
    opacity: 0;
}
.ie.wf-loading .blog h2,
body.single-post h2,
{
    visibility: hidden;
}
.blog h3,
body.single-post h3 {
    font-family: "Open Sans";
    line-height: 36px;
    font-weight: 300;
    font-style: normal;
    color: #2a2a2a;
    font-size: 24px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading .blog h3,
body.single-post h3,
{
    opacity: 0;
}
.ie.wf-loading .blog h3,
body.single-post h3,
{
    visibility: hidden;
}
.blog h4,
body.single-post h4 {
    font-family: "Open Sans";
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
    color: #2a2a2a;
    font-size: 16px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading .blog h4,
body.single-post h4,
{
    opacity: 0;
}
.ie.wf-loading .blog h4,
body.single-post h4,
{
    visibility: hidden;
}
.blog h5,
body.single-post h5 {
    font-family: "Open Sans";
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    color: #2a2a2a;
    font-size: 16px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading .blog h5,
body.single-post h5,
{
    opacity: 0;
}
.ie.wf-loading .blog h5,
body.single-post h5,
{
    visibility: hidden;
}
.blog h6,
body.single-post h6 {
    font-family: "Open Sans";
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    color: #2a2a2a;
    font-size: 12px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading .blog h6,
body.single-post h6,
{
    opacity: 0;
}
.ie.wf-loading .blog h6,
body.single-post h6,
{
    visibility: hidden;
}
.blog a,
.megamenu a {
    color: #2a2a2a;
}
.blog a:hover,
.megamenu a:hover {
    color: #1974d2;
}